@using Insurance.Models


    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h2>Insurance Quote</h2>
        </div>


        <div class="card-body text-center">
            <p>@ViewBag.firstName  @ViewBag.lastName , The total cost of your insurance comes out to be $@ViewBag.insQuote per month.</p>
        </div>
    </div>