<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

<connectionStrings><add name="InsuranceEntities" connectionString="metadata=res://*/Insurance.csdl|res://*/Insurance.ssdl|res://*/Insurance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DOIF3MA\SQLEXPRESS;initial catalog=Insurance;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
